@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

html {
  min-width: 1200px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Nav */

.main-nav {
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
  min-height: 300px;
}

.main-nav-logo {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  top: -23px;
  text-transform: uppercase;
}

.main-nav-logo:hover {
  opacity: 0.6;
}

.main-nav-logo:active {
  opacity: 0.3;
}

/* Nav social */

.main-nav-social {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.main-nav-social__search {
  display: flex;
  position: relative;
  width: 500px;
}

.main-nav__search {
  width: 355px;
  line-height: 30px;
  height: 50px;
  position: relative;
  padding: 15px 10px 15px 40px;
  background: url("../img/svg/search.svg") no-repeat 5px center;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.main-nav__search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__search:focus + .main-nav__search-button {
  display: block;
}

.main-nav__search:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.main-nav__search-button {
  display: none;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: 2px solid black;
  font-weight: 300;
  cursor: pointer;
}

.main-nav__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.main-nav-social__users {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main-nav-social__login {
  position: relative;
  display: block;
  color: #000000;
  padding-left: 25px;
}

.main-nav-social__login::before {
  content: "";
  width: 13px;
  height: 13px;
  top: 9px;
  left: 0;
  position: absolute;
  background-image: url("../img/svg/user.svg");
  background-repeat: no-repeat;
}

.main-nav-social__login:hover {
  opacity: 0.6;
}

.main-nav-social__login:active {
  opacity: 0.3;
}

.main-nav__purchases-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__purchases-item:last-child {
  margin-left: 40px;
}

.main-nav__purchases-item a {
  display: block;
  position: relative;
  color: #000000;
  padding-left: 20px;
}

.main-nav__purchases-item:hover a {
  opacity: 0.6;
}

.main-nav__purchases-item:active a {
  opacity: 0.3;
}

.main-nav__purchases-item:first-child a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("../img/svg/compare.svg") no-repeat;
}

.main-nav__purchases-item:last-child a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url("../img/svg/cart.svg") no-repeat;
}

/* End social */

/* Main shop */

.main-nav-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-shop__link {
  width: 500px;
}

.main-nav-shop__link a {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-nav-shop__link a:hover {
  opacity: 0.6;
}

.main-nav-shop__link a:active {
  opacity: 0.3;
}

.main-nav-shop__link a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: -31px;
  background: url("../img/svg/plus.svg") no-repeat center;
  opacity: 0.3;
}

.main-nav-shop__list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav-shop__item a {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-nav-shop__item:first-child a {
  margin-right: 35px;
}

.main-nav-shop__item:last-child {
  margin-left: auto;
  margin-right: -3px;
}

.main-nav-shop__item a:hover {
  opacity: 0.6;
}

.main-nav-shop__item a:active {
  opacity: 0.3;
}

/* End shop */

/* Sub Menu */

.main-nav-catalog {
  position: relative;
  padding-top: 25px;
  padding-bottom: 24px;
  display: none;
  z-index: 50;
}

.main-nav-catalog::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1160px;
  height: 100%;
  background-color: #f7e296;
  top: 10px;
  left: -60px;
}

.main-nav-catalog__show {
  display: flex;
}

.main-nav-catalog .catalog-col {
  width: 200px;
  margin-right: 20px;
}

.catalog-col .catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-list .catalog-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-item a {
  display: block;
  color: #000000;
  line-height: 1.5;
}

.catalog-item a:hover {
  opacity: 0.6;
}

.catalog-item a:active {
  opacity: 0.3;
}

/* End submenu */

main {
  position: relative;
  top: -110px;
}

/* Slider */

/* Slider toggle */

.slider-control {
  position: absolute;
  right: 77px;
  bottom: 164px;
  z-index: 100;
  text-align: center;
  width: 100px;
  height: 12px;
  vertical-align: middle;
}

.slider-control .slider-control-item {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control .slider-control-item:not(:nth-child(3)) {
  margin-right: 14px;
}

.slider-control .slider-control-item::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 50%;
}

.slider-list .slide {
  display: none;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
  display: flex;
  justify-content: space-between;
}

#product-1:checked ~ .slider-control .slider-control-item--1::before,
#product-2:checked ~ .slider-control .slider-control-item--2::before,
#product-3:checked ~ .slider-control .slider-control-item--3::before {
  content: "";
  top: 6px;
  left: 6px;
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  border-radius: 50%;
}

/* Slider toggle end */

.slider {
  margin-bottom: 80px;
  height: 500px;
  padding: 0 60px;
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-prev {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.slider-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.slider-item:nth-child(1) .slider-image {
  left: 10px;
  top: -5px;
}

.slider-item:nth-child(2) .slider-image {
  left: 40px;
  top: 9px;
}

.slider-item:nth-child(3) .slider-image {
  left: -50px;
  top: 65px;
}

.slider-specification {
  display: block;
  padding-top: 77px;
  width: 500px;
}

.slide .slider-title {
  position: relative;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  margin-bottom: 30px;
  z-index: 10;
}

.slide:nth-child(1) .slider-title::after {
  content: "01";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slide:nth-child(2) .slider-title::after {
  content: "02";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slide:nth-child(3) .slider-title::after {
  content: "03";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-description {
  margin: 0;
  width: 480px;
  margin-bottom: 30px;
}

.slider-item-button {
  position: relative;
  display: block;
  padding: 12px 44px;
  margin-bottom: 40px;
  width: 220px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.slider-item-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-item-button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: calc(50% - 4px);
  background-color: #f0c52e;
  z-index: -1;
  transition: all linear 0.1s;
}

.slider-item-button:hover::before {
  height: 100%;
  top: 0;
}

.slider-advantages {
  display: flex;
  align-items: flex-start;
}

.slider-advantage {
  margin-right: 80px;
}

.slider-advantage p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: "Gilroy", Arial,sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.slider-advantage span {
  display: block;
  color: #464646;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.13px;
  font-size: 13px;
  line-height: 20px;
}

/* End slider */

/* Main categories */

.main-categories {
  margin-bottom: 80px;
}

.main-categories__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  list-style: none;
}

.main-categories__item {
  width: 160px;
}

.main-categories__item:not(:nth-child(6n)) {
  margin-right: 40px;
}

.main-categories__item:nth-child(n+7) {
  margin-top: 20px;
}

.main-categories__item .main-categories__image {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 160px;
  background: rgba(240, 197, 46, 0.5) no-repeat center;
}

.main-categories__item .main-categories__image:hover { background-color: rgba(240, 197, 46, 1); }

.main-categories__item:first-child .main-categories__image {
  background-image: url("../img/svg/popular-1.svg");
}

.main-categories__item:nth-child(2) .main-categories__image {
  background-image: url("../img/svg/popular-2.svg");
  background-position: center 41px;
}

.main-categories__item:nth-child(3) .main-categories__image {
  background-image: url("../img/svg/popular-3.svg");
}

.main-categories__item:nth-child(4) .main-categories__image {
  background-image: url("../img/svg/popular-4.svg");
}

.main-categories__item:nth-child(5) .main-categories__image {
  background-image: url("../img/svg/popular-5.svg");
}

.main-categories__item:nth-child(6) .main-categories__image {
  background-image: url("../img/svg/poppular-6.svg");
}

.main-categories__title {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
}

.main-categories__title:hover { opacity: 0.6; }
.main-categories__title:active { opacity: 0.3; }

/* End main categories */

/* Service */

.service {
  position: relative;
  margin-bottom: 160px;
}

.service::before {
  content: "";
  position: absolute;
  background-color: #e5e5e5;
  width: 100%;
  top: 90px;
  height: 290px;
  z-index: -1;
}

.service-wrapper {
  display: flex;
  min-height: 320px;
}

.service-list {
  margin: 0;
  padding: 0;
  border-right: 7px solid black;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 285px;
}

.service-item:not(:last-child) {
  margin-bottom: 20px;
}

.service-link:hover::after {
  height: 100%;
  top: 0;
}

.service-item.service-link__current {
  background-color: #000000;
}

.service-item.service-link__current a {
  color: #f0c52e;
}

.service-link {
  position: relative;
  display: block;
  padding: 13px 23px;
  width: 160px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.service-link::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: #f0c52e;
  z-index: -1;
  left: 0;
  top: calc(50% - 4px);
  transition: all linear 0.1s;
}

.service-information {
  position: relative;
  padding-top: 65px;
  padding-left: 115px;
}

.service-info .service-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.service-info {
  display: none;
}

.service-info__current {
  display: block;
}

.service-info .service-description {
  width: 430px;
  margin: 0;
  padding: 0;
  color: #464646;
  letter-spacing: 0.15px;
}

.service-info:first-child::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 56px;
  right: -300px;
  background: url("../img/svg/delivery.svg") no-repeat center;
}

.service-info:nth-child(2)::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 56px;
  right: -300px;
  background: url("../img/svg/warranty.svg") no-repeat center;
}

.service-info:nth-child(3)::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 56px;
  right: -300px;
  background: url("../img/svg/credit.svg") no-repeat center;
}

/* End Service */

/* Cooperation */

.main-cooperation {
  margin-bottom: 140px;
}

.main-cooperation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.main-cooperation-item {
  width: 260px;
  height: 100px;
}

.main-cooperation-item:not(:nth-child(4n)) {
  margin-right: 40px;
}

.main-cooperation-item img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.2;
}

.main-cooperation-item img:hover {
  filter: grayscale(0);
  opacity: 1;
}

/* End cooperation */

/* Company About */

.main-company-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-company-about-us {
  width: 560px;
}

.main-company-contacts {
  width: 560px;
}

.main-company-title {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
}

.main-company-title::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-company-description {
  width: 470px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: left;
}

.main-company-delivery {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
}

.main-company-list {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.main-company-item {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}

.main-company-item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -35px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
}

.main-company-image {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.main-company-contacts img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-company-link {
  position: relative;
  width: 260px;
  display: block;
  margin: 0;
  padding: 12px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.main-company-link::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: calc(50% - 4px);
  background-color: #f0c52e;
  z-index: -1;
  transition: all linear 0.1s;
}

.main-company-link:hover::before {
  height: 100%;
  top: 0;
}

/* End company About */

/* Footer */

footer {
  background-color: #464646;
  padding: 65px 0;
}

/* Footer top */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-top .footer-logo {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.footer-top .footer-logo:hover { opacity: 0.6;}
.footer-top .footer-logo:active { opacity: 0.3;}

.footer-top .footer-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-item a {
  position: relative;
  display: block;
  padding-left: 25px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0.15px;
  opacity: 0.7;
}

.footer-user-item a:hover { opacity: 1; }
.footer-user-item a:active { opacity: 0.3; }

.footer-user-item:not(:last-child) a {
  margin-right: 40px;
}

.footer-user-item {
  position: relative;
}

.footer-top svg {
  position: absolute;
  top: 12px;
  left: 0;
}

/* Footer Middle */

.main-footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.footer-menu-list {
  width: 440px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item a {
  color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-menu-item a:hover { opacity: 0.6; }
.footer-menu-item a:active { opacity: 0.3; }

/* Footer bottom */

.main-footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 25px;
}

.footer-social-item a {
  display: flex;
  opacity: 0.3;
}

.footer-social-item a:hover { opacity: 0.6; }
.footer-social-item a:active { opacity: 0.1; }

.footer-academy {
  display: inherit;
}

.footer-academy:hover  { opacity: 0.6; }
.footer-academy:active { opacity: 0.3; }

/* Modal */



/* Modal Close */

.modal-close {
  position: absolute;
  top: 0;
  right: -80px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
}

.modal-close:hover { opacity: 1; }
.modal-close:active { opacity: 0.3; }

/* Modal Map */

iframe {
  border: none;
}

@keyframes modal-show {
  0% { transform: scale(0) }
  100% { transform: scale(1) }
}

.modal-map {
  display: none;
  position: fixed;
  width: 960px;
  height: 560px;
  top: 50%;
  margin-top: -280px;
  left: 50%;
  margin-left: -480px;
  z-index: 100;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Modal write */

.modal-write {
  display: none;
  background-color: #ffffff;
  position: fixed;
  width: 960px;
  height: 555px;
  padding: 90px 100px;
  top: 50%;
  margin-top: -277px;
  left: 50%;
  margin-left: -480px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.modal-write label  {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

}

.modal-write input  {
  color: #464646;
  width: 360px;
  height: 50px;
  margin: 0;
  padding: 15px 20px 15px  20px;
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}

.modal-write textarea {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  font-weight: 400;
  margin: 0 0 40px 0;
  padding: 15px 20px;
  border: none;
  width: 760px;
  height: 155px;
  background-color: rgba(229, 229, 229, 0.5);
}

.modal-write input:hover,
.modal-write textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.modal-write input:focus,
.modal-write textarea:focus {
  outline: 3px solid rgba(240, 197, 46, 0.5);
  background-color: #ffffff;
}

.modal-form-button {
  position: relative;
  width: 200px;
  display: block;
  margin: 0;
  padding: 12px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-form-button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: calc(50% - 4px);
  background-color: #f0c52e;
  z-index: -1;
  transition: all linear 0.1s;
}

.modal-form-button:hover::before {
  height: 100%;
  top: 0;
}

.modal-show {
  display: block;
  animation-name: modal-show;
  animation-duration: 0.2s;
}

.modal-write .modal-close {
  right: 20px;
  top: 20px;
}

/* JS */

.js-modal-error {
  animation-name: modal-error;
  animation-duration: .4s;
}

/* Animation */

@keyframes modal-error {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

/* OverLay */

@keyframes overlay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay-show {
  display: block;
  animation-name: overlay;
  animation-duration: .2s;
}