@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

html {
  min-width: 1200px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.header-bg {*/
  /*position: absolute;*/
  /*width: 1160px;*/
  /*height: 300px;*/
  /*background-color: rgba(240, 197, 46, 0.5);*/
  /*z-index: -1;*/
/*}*/

.main-nav {
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
  min-height: 300px;
}

.main-nav-logo {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  top: -23px;
  text-transform: uppercase;
}

.main-nav-logo:hover {
  opacity: 0.6;
}

.main-nav-logo:active {
  opacity: 0.3;
}

.main-nav-social {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.main-nav-social__search {
  display: flex;
  position: relative;
  width: 500px;
}

.main-nav__search {
  width: 355px;
  line-height: 30px;
  height: 50px;
  position: relative;
  padding: 15px 10px 15px 40px;
  background: url("../img/svg/search.svg") no-repeat 5px center;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.main-nav__search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__search:focus + .main-nav__search-button {
  display: block;
}

.main-nav__search:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.main-nav__search-button {
  display: none;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: 2px solid black;
  font-weight: 300;
  cursor: pointer;
}

.main-nav__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.main-nav-social__users {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main-nav-social__login {
  position: relative;
  display: block;
  color: #000000;
  padding-left: 25px;
}

.main-nav-social__login::before {
  content: "";
  width: 13px;
  height: 13px;
  top: 9px;
  left: 0;
  position: absolute;
  background-image: url("../img/svg/user.svg");
  background-repeat: no-repeat;
}

.main-nav-social__login:hover {
  opacity: 0.6;
}

.main-nav-social__login:active {
  opacity: 0.3;
}

.main-nav__purchases-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__purchases-item:last-child {
  margin-left: 40px;
}

.main-nav__purchases-item a {
  display: block;
  position: relative;
  color: #000000;
  padding-left: 20px;
}

.main-nav__purchases-item:hover a {
  opacity: 0.6;
}

.main-nav__purchases-item:active a {
  opacity: 0.3;
}

.main-nav__purchases-item:first-child a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("../img/svg/compare.svg") no-repeat;
}

.main-nav__purchases-item:last-child a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url("../img/svg/cart.svg") no-repeat;
}

.main-nav-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-shop__link {
  width: 500px;
}

.main-nav-shop__link a {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-nav-shop__link a:hover {
  opacity: 0.6;
}

.main-nav-shop__link a:active {
  opacity: 0.3;
}

.main-nav-shop__link a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: -31px;
  background: url("../img/svg/plus.svg") no-repeat center;
  opacity: 0.3;
}

.main-nav-shop__list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav-shop__item a {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-nav-shop__item:first-child a {
  margin-right: 35px;
}

.main-nav-shop__item:last-child {
  margin-left: auto;
  margin-right: -3px;
}

.main-nav-shop__item a:hover {
  opacity: 0.6;
}

.main-nav-shop__item a:active {
  opacity: 0.3;
}



/* Sub Menu */

.main-nav-catalog {
  position: relative;
  padding-top: 25px;
  padding-bottom: 24px;
  display: none;
  z-index: 50;
}

.main-nav-catalog::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1160px;
  height: 100%;
  background-color: #f7e296;
  top: 10px;
  left: -60px;
}

.main-nav-catalog__show {
  display: flex;
}

.main-nav-shop__link a:hover ~ .main-nav-catalog {
  display: block;
}

.main-nav-catalog .catalog-col {
  width: 200px;
  margin-right: 20px;
}

.catalog-col .catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-list .catalog-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-item a {
  display: block;
  color: #000000;
  line-height: 1.5;
}

.catalog-item a:hover {
  opacity: 0.6;
}

.catalog-item a:active {
  opacity: 0.3;
}

/* Slider */

/* Slider toggle */

.slider-control {
  position: absolute;
  right: 77px;
  bottom: 158px;
  z-index: 100;
  text-align: center;
  width: 100px;
  height: 12px;
  vertical-align: middle;
}

.slider-control .slider-control-item {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control .slider-control-item:not(:nth-child(3)) {
  margin-right: 14px;
}

.slider-control .slider-control-item::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 50%;
}

.slider-list .slide {
  display: none;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
  display: flex;
  justify-content: space-between;
}

#product-1:checked ~ .slider-control .slider-control-item--1::before,
#product-2:checked ~ .slider-control .slider-control-item--2::before,
#product-3:checked ~ .slider-control .slider-control-item--3::before {
  content: "";
  top: 6px;
  left: 6px;
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  border-radius: 50%;
}

/* Slider toggle end */

.slider {
  height: 500px;
  padding: 0 60px;
  position: relative;
  top: -110px;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-prev {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.slider-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.slider-item:nth-child(2) .slider-image {
  left: 40px;
  top: 9px;
}

.slider-item:nth-child(3) .slider-image {
  left: -50px;
  top: 65px;
}

.slider-specification {
  display: block;
  padding-top: 77px;
  width: 500px;
}

.slide .slider-title {
  position: relative;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  margin-bottom: 30px;
  z-index: 10;
}

.slide:nth-child(1) .slider-title::after {
  content: "01";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slide:nth-child(2) .slider-title::after {
  content: "02";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slide:nth-child(3) .slider-title::after {
  content: "03";
  position: absolute;
  margin-left: auto;
  top: -90px;
  left: 330px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  z-index: -1;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-description {
  margin: 0;
  width: 480px;
  margin-bottom: 30px;
}

.slider-item-button {
  position: relative;
  display: block;
  padding: 12px 44px;
  margin-bottom: 40px;
  width: 220px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.slider-item-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-item-button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: calc(50% - 4px);
  background-color: #f0c52e;
  z-index: -1;
  transition: all linear 0.2s;
}

.slider-item-button:hover::before {
  height: 100%;
  top: 0;
}

.slider-advantages {
  display: flex;
  align-items: flex-start;
}

.slider-advantage {
  margin-right: 80px;
}

.slider-advantage p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: "Gilroy", Arial,sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.slider-advantage span {
  display: block;
  color: #464646;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.13px;
  font-size: 13px;
  line-height: 20px;
}




